*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 16px;
}

html {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    scroll-behavior: smooth;
    
}

body {
    margin: 0;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.logo h1{
    color: white;
    font-size: 3rem;
    padding: 30px;
    font-family: 'Rajdhani', sans-serif;;
}

.primary-navigation {
    display: flex;
    list-style: none;
    background: rgba(131, 99, 99, 0.3);
    margin: 0;
    
}

.list-item {
    padding: 10px;
    margin-inline-end: 1.5rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Rajdhani', sans-serif;
}

.li-number {
    margin-inline-end: .3rem;
    font-weight: bold;
}

img {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1;
}

.menu {
    display: none;
}

.wrapper {
    margin: 0;
    background-image: url(https://lh3.googleusercontent.com/44ReCMLqH7HmR78Z9z_8zMOUQfooN9FMoVsRtpStonar9KFMUn9byfwKJpEuZS7tG5uqXKmlI7k6305ANNfVa5dUE67lRgU79Ozrwwxyh6uuXTpW4VTvUBCcie4_ul3kRnJHcYqqxQ=w2400);
    background-repeat: no-repeat;
    background-size: cover;
}

.first-section,
.second-section,
.third-section,
.fourth-section {
    max-width:1300px ;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.menu-link {
  list-style: none;
  text-decoration: none;
  transition: 250ms ease-out;
}

.menu-link:hover {
  transform: scale(1.3);
}

/* FIRST SECTION */

.first-section {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 60vh;
    position: relative;
}


.img-1 {
    position: absolute;
    max-width: 100%;
    width: 300px;
    aspect-ratio: 1 / 1.5;
    top: 42%;
    left: 5%;
    z-index: 1;
}

.first-section-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 6em;
    z-index: 2;
}

.first-section-text H1 {
    color: white;
    font-size: 3rem;
    
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    margin: 0 auto;
}

.first-section-text H2 {
    color: white;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    margin: 2rem auto;
    background-color: rgba(139, 123, 123, 0.68);
}
/*  */
/* SECOND SECTION */

.second-section {
    display: flex;
    flex-direction: column;
    
}

.second-section h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3rem;
    z-index: 2;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
}

.second-section p {
    color: rgb(16, 16, 17);
    text-align: start;
    align-self: flex-end;
    width: 70%;
    font-size: 1.4rem;
    z-index: 2;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    background-color: rgba(240, 193, 193, 0.68);
    padding: 20px;
}

/*  */
/* THIRD SECTION */

.third-section {
    background-color: rgb(45, 33, 80);
    color: white;
    height: 100%;
    margin-bottom: 0;
}

.third-section h1 {
    text-align: center;
    font-size: 3rem;
    z-index: 2;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    color: white;
    background-color: rgb(206, 22, 22);
}


.wrapper-work-items {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
}

.work-space-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
    border-style: solid;
    border-color: #212121;
    border-width: 2px;
    background-color: rgba(0, 0, 0, 0.3);
}

.work-header {
    position: relative;
    display: flex;
}
.work-header h2 {
    position: relative;
    margin-top: 9rem;
    margin-left: 1em;
    z-index: 3;
    padding: 3px;
    
    font-family: Arial, Helvetica, sans-serif;
}

.description {
    background-color: rgba(194, 189, 204, 0.1);
    color: black;
    border-radius: 0px 0px 12px 12px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin-bottom: 1em;
    height: 160px;
}

.work-paragraph p {
    width: 60%;
    text-align: center;
    margin: 2em auto;
    line-height: 1.4;
    font-size: 1.4rem;
    padding: 20px;
    padding-bottom: 100px;
    font-family: 'Rajdhani', sans-serif;

}


/* work cards */

.card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4rem;
  }
  .card {
    position: relative;
    list-style: none;
    gap: 30px;
    width: 220px;
    transition: .3s ease;
  }
  .card:before {
    content: "";
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  .card-background {
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background-size: contain;
    background-position: center;
    filter: brightness(.9) saturate(1) contrast(1);
    transform-origin: bottom;
    transform: scale(1) translateZ(0);
    transition: .3s ease;
  }
  .card:hover .card-background {
    transform: scale(1.15) translateZ(0);
    background-size: 260px;
  }
  .card-container:hover .card:not(:hover) {
    transform: scale(.9);
  }
  .card-container:hover > .card:not(:hover) .card-background,
  .card-container:hover > .card:not(:hover) .card-category {
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
  }
  .content {
    top: 50%;
    left: 0;
    padding: 25px;
    position: absolute;
  }
  .card-category {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
  .card-heading {
    color: #fff;
    font-size: 25px;
    line-height: 1;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
  }


    .card-background-1 {
        background-image: url(https://lh3.googleusercontent.com/C5bjvadI0qrq7lYwFqoBlSxAwxzreYCzBRNS9iKgOb9VHMzmfUtxUqhN-QqqAyPIKZr88SL-bpaRxNfXiLMN4IVEtNAty1o8M32cAlOtJaS9aAi1U_Q_7dQOzivD4SI0aIhqpMgrkw=w2400);

    }
    .card-background-2 {
        background-image: url(https://lh3.googleusercontent.com/mcR2_t4w2EjF7ZXv5_bW6DVgxeS90vj-1u_Jkl9Mu08tA-710eM5nL7jP_BxQmYjFj67-HByqZTBMRz7hJg3D8JU5qlF2Iwndjcdry-Yj1NZEP3tikV3347XleJR-8VlvlXTaFdXVg=w2400);
        
    }
    .card-background-3 {
        background-image: url();
    }

/* WORK BUTTON */

.button-wrapper {
    background: transparent;
    display: flex;
    justify-content: center;
}

.work-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  
  #container-stars {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
  }
  
  strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
  }
  
  #glow {
    position: absolute;
    display: flex;
    width: 12rem;
  }
  
  .circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
  }
  
  .circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
  }
  
  .circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
  }
  
  .work-btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
  }
  
  .work-btn:hover {
    transform: scale(1.1)
  }
  
  .work-btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
  }
  
  .work-btn:active .circle {
    background: #FE53BB;
  }
  
  #stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
  }
  
  #stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
  }
  
  #stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
  }
  
  #stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
  }
  
  #stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-135rem);
    }
  }
  
  @keyframes animStarRotate {
    from {
      transform: rotate(360deg);
    }
  
    to {
      transform: rotate(0);
    }
  }
  
  @keyframes gradient_301 {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes pulse_3011 {
    0% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.75);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }

/*  */
/* FOURTH SECTION */

.fourth-section h1 {
    text-align: center;
    font-size: 3rem;
    z-index: 2;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    color: white;
    background-color: rgb(153, 130, 130);
}

.mind-space-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    
}

.mind-space-content h3 {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    width: 70%;
    margin: 0 auto;
}

.bigger {
    font-size: 4rem;
    font-weight: 400;
    line-height: .7;
}

.mind-space-content h2 {
    font-size: 3rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 4rem;
}

.mind-space-content h4 {
    font-size: 1rem;
     font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(131, 99, 99, 0.5);
    padding: 30px;
    line-height: 2;
    letter-spacing: 2px;
    width: 60%;
    margin:2rem auto;
}

.mind-space-content h5 {
    width: 80%;
    margin: 2rem auto;
    font-size: 2rem;
    text-align: start;
}

.mind-space-content p {
    font-size: 1.3rem;
    width: 60%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    
}

.mind-space-content li {
    font-size: 1.3rem;
    width: 50%;
    margin: 1rem auto;
}
/*  */

/* COMMENT SECTION */

.comment-section {
  width: 70%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.comment-section h2 {
  text-align: center;
  font-size: 2rem;
  background-color: rgba(254, 83, 186, 0.636);
  margin: 3rem;
  padding: 5px;
}

.comment-btn {
  position: fixed;
  right: 4rem;
  bottom: 2rem;
  background-color: blue;
  padding: 20px;
  color: white;
  border-radius: 10em;
  z-index: 999;
}

.comment-btn:hover {
  cursor: pointer;
}

@media (max-width: 35em) {

    html {
        font-size: 10px;
    }
    .primary-navigation {
        flex-direction: column;

        position: fixed;
        inset: 0 0 0 40%;
        padding: min(30vh, 10rem) 2rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;

        z-index: 99;
    }

    
    .primary-navigation[data-visibility="true"] {
        transform: translateX(0%);
    }

    .menu[aria-expanded="true"] {
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMQfX17C1Smy7LtsthyexuiGxpfe_nb9f1ozRcA1BaEFBfQQc1xQttzhNWgzqkI9zIYK0&usqp=CAU);
      background-color: transparent;
    }

    .list-item {
        padding: 1em;
    }
    
    .menu {
        display: block;
        position: fixed;
        top: 2rem;
        right: 2rem;
        z-index: 999;
        background-image: url(https://icon-library.com/images/hamburger-menu-icon-transparent/hamburger-menu-icon-transparent-16.jpg);
        background-size:2rem;
        height: 2rem;
        width: 2rem;
        border: none;
        background-color: transparent;
      
    }
    
    .img-1 {
        width: 150px;
        top: 50%;
        left: 1.2em;
    }
    
    .first-section-text {
        width: 100%;
        margin: 0 2em;
    }


    .second-section h1 {
        font-family: 'Rajdhani', sans-serif;
        font-size: 5rem;
        letter-spacing: 3px;
        font-weight: 300;
    }

    .second-section p{
        width: 100%;
        background-color: rgba(240, 193, 193, 0.68);
        padding: 10px;
        font-family: 'Rajdhani', sans-serif;
    }

    .card-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .work-paragraph p {
      width: 80%;
    }
   
}



@media (min-width: 35em) {
    .primary-navigation {
        padding-block: 1rem;
        padding-inline: clamp(2rem, 10vw, 8rem);
    }

    .tabs  {
      position: fixed;
      top: 0;
      z-index: 9999;
      background-color: transparent;

      
    }

    body {
      position: relative;
    }
  
}

/* */

